html, body {
    margin: 0;
    background-color: rgb(142, 105, 202);
    
  }

main {
    display: flex;
    flex-direction: column;
    align-items: center;



    color: black;

    width: 80%;
    margin: 3% auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
    

}

main h1 {
  max-width: 80%;

}

form hr {
  width: 20%;
}

#survey-form {
    display: flex;
    flex-direction: column;

}

.Data-inputs {
  display: flex;
  flex-direction: column;

}

.Options {
  display: flex;
  flex-direction: column;
  align-items: center;
    


}

#burger {
  max-height: 10%;
  max-width: 10%;
  transition: transform .8s ease-in-out;
}

#burger:hover {
  transform: rotate(-15deg);

}

.ckbox {
  display: inline;

}

.star
{
margin: 20px;
display: inline-block;
width: 0px;
height: 0px;
border-right: 45px solid transparent;
border-bottom: 40px solid #FFCC00;
border-left: 45px solid transparent;
transform: rotate(35deg);
cursor: pointer;
}
.star:before {
position: absolute;
display: inline-block;
left:-32px;
top:-20px;
width: 0px;
height: 0px;
border-right: 16px solid transparent;
border-bottom: 35px solid #FFCC00;
border-left: 16px solid transparent;
content: '';
transform: rotate(-34deg);
cursor:pointer;
}
.star:after {
position: absolute;
display: inline-block;
left:-45px;
top:0px;
width: 0px;
height: 0px;
border-right: 45px solid transparent;
border-bottom: 40px solid #FFCC00;
border-left: 45px solid transparent;
content: '';
transform: rotate(-70deg);
cursor:pointer;}

